@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,800;0,900;1,200;1,800;1,900&family=Oswald:wght@300;400;500;700&family=Source+Sans+Pro:wght@200;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --mainColor: #AB2F52;

}

a {
  text-decoration: none;
}

h6 {
  height: 3px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  width: 60%;
}

h6 > span {
  width: 30%;
  background-color: var(--mainColor);
}

main h2 {
  color: var(--mainColor);
  font-weight: 300;
  text-transform: uppercase;
}

body,
footer,
main,
main > section,
main > section > article,
figcaption,
form {
  display: flex;
  flex-direction: column;
}

header {
  background-image: url(/img/building-header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

header > article {
  width: 98%;
  height: 98%;
  padding: 1%;
}

img {
  width: 40%;
}

/* MOBILE */
@media (min-width: 200px) {
  
  main {
    padding-bottom: 10vh;
    row-gap: 5vh;
  }

  main > section > section {
    display: flex;
  }

  .services aside,
  .contact ul,
  .testimonials {
    display: flex;
    flex-direction: column;
  }

  /* TESTIMONIALS */
  .testimonials {
    background-image: url(/img/building-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
  }
  
  .testimonials > article {
    align-items: center;  
    row-gap: 4vh;
    padding: 15%;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: rgba(10, 10, 10, .8);
  }

  .testimonials i {
    font-size: 30px;
    color: var(--mainColor);
  }

  .testimonials p {
    color: white;
  }

  .testimonials h5 {
    color: orange;
  }

  .testimonials span {
    color: whitesmoke;
    font-weight: 700;
  }

  /* CONTACT */
  .contact {
    align-items: center;
    row-gap: 5vh;
  }

  .contact > section {
    width: 90%;
    flex-direction: column;
    row-gap: 5vh;
  }

  .contact ul {
    row-gap: 3vh;
  }

  .contact li {
    display: flex;
    column-gap: 3vh;
    align-items: flex-end;
  }

  /* ^: STARTS WITH
  $: ENDS WITH
  *: CONTAINS */

  .contact [class*="fa-"] {
    color: var(--mainColor);
    font-size: 18px;
  }

  .contact ul aside {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
  }

  .contact a {
    color: dimgray;
  }

  .contact > article {
    align-items: center;
    row-gap: 3vh;
    text-align: center;
  }

  .contact p {
    color: darkgray;
  }

  form {
    width: 96%;
    align-items: center;
    row-gap: 4vh;
  }

  form > aside {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3vh;
  }

  input {
    width: 96%;
    padding: 4px;
    border: none;
    border-bottom: 2px solid black;
  }

  textarea {
    padding: 4px;
    resize: none;
    height: 10vh;
    width: 96%;
    border: none;
    border-bottom: 2px solid black;
  }

  [type="submit"] {
    background-color: var(--mainColor);
    width: 55%;
    color: whitesmoke;
    border: none;
    padding: 2vh;
    font-weight: 500;
    border-radius: 25px;
  
  }

  /* FOOTER */
  footer {
    background-color: black;
    padding: 3%;
    row-gap: 2vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
  }

  footer > p {
    font-size: smaller;
  }

  footer > ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    column-gap: 4vh;
  }

  footer a {
    color: whitesmoke;
  }
}
