@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,800;0,900;1,200;1,800;1,900&family=Oswald:wght@300;400;500;700&family=Source+Sans+Pro:wght@200;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --mainColor: #AB2F52; 
}

a {
  text-decoration: none;
}

h6 {
  height: 3px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  width: 60%;
}

h6 > span {
  width: 30%;
  background-color: var(--mainColor);
}

main h2 {
  color: var(--mainColor);
  font-weight: 300;
  text-transform: uppercase;
}

body,
footer,
main,
main > section,
main > section > article,
figcaption,
form {
  display: flex;
  flex-direction: column;
}

header {
  background-image: url(/img/building-header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

header > article {
  padding: 1%;
}

/* MOBILE */
@media (min-width: 200px) {
  
  main {
    padding-bottom: 10vh;
    row-gap: 5vh;
  }

  main > section > section {
    display: flex;
  }

  .services aside,
  .contact ul,
  .testimonials {
    display: flex;
    flex-direction: column;
  }

  /* HEADER */
  header {
    height: 65vh;
  }

  header > article {
    background-image: linear-gradient(to bottom, rgba(180,0,180,.7), rgba(255,155,0,.8));
  }

  header section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 57vh;
    row-gap: 2vh;
    color: white;
  }

  header h2 {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 5%;
    padding-top: 5%;
  }

  header p {
    text-align: center;
    line-height: 1.5;
    padding-bottom: 5%;
  }

  header h1 {
    font-size: 28px;
  }

  header section > a {
    background-color: var(--mainColor);
    color: white;
    padding: 3%;
    width: 33%;
    font-size: 14px;
    text-align: center;
    border-radius: 20px;
  }

  nav > ul {
    display: none;
  }

  /* ABOUT */
  .about {
    row-gap: 5vh;
    width: 100%;
    align-items: center;
    padding-bottom: 10vh;
    padding-top: 10vh;
  }

  .about h3 {
    font-size: 22px;
  }
  
  .about figure {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 4vh;
  }

  .about figcaption {
    row-gap: 3vh;
    line-height: 1.5;
  }

  .about section {
    width: 90%;
  }

  .about figure p {
    color: gray;
  }

  .about > article {
    color: darkgray;
    align-items: center;
    text-align: center;
    row-gap: 2vh;
  }

  .about img {
    width: 100%;
    height: 40vh;
  }

  .about small {
    color: orange;
    font-weight: 500;
  }

  .about a {
    background-color: orange;
    color: white;
    padding: 2%;
    width: 40%;
    text-align: center;
  }

  /* SERVICES */
  .services > article {
    text-align: center;
    align-items: center;
    row-gap: 3vh;
  }

  .services {
    row-gap: 3vh;
    background-color: gainsboro;
    padding-bottom: 10%;
    padding-top: 10%;
  }

  .services > section {
    flex-direction: column;
    align-items: center;
    row-gap: 3vh;
  }

  .services aside {
    align-items: center;
    row-gap: 2vh;
    background-color: white;
    width: 70%;
    padding: 5vh;
  }

  .services h2 {
    font-weight: 400;
    font-size: 20px;
  }

  .services hr {
    width: 30%;
  }

  .services p {
    text-align: center;
    color: gray;
  }

  .services aside p {
    width: 80%;
    text-align: center;
    line-height: 1.5;
    color: gray;
  }

  .services i {
    font-size: 35px;
    color: orange;
  }

  /* GALLERY */
  .gallery figure {
    flex-wrap: wrap;
    display: flex;
  }

  .gallery {
    row-gap: 5vh;
  }

  .gallery > article {
    text-align: center;
    row-gap: 3vh;
    align-items: center;
  }

  .gallery img {
    width: 100%;
    height: 50vh;
  }

  /* TESTIMONIALS */
  .testimonials {
    background-image: url(/img/building-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
  }
  
  .testimonials > article {
    align-items: center;  
    row-gap: 4vh;
    padding: 15%;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: rgba(10, 10, 10, .8);
  }

  .testimonials i {
    font-size: 30px;
    color: var(--mainColor);
  }

  .testimonials p {
    color: white;
  }

  .testimonials h5 {
    color: orange;
  }

  .testimonials span {
    color: whitesmoke;
    font-weight: 700;
  }

  /* CONTACT */
  .contact {
    align-items: center;
    row-gap: 5vh;
  }

  .contact > section {
    width: 90%;
    flex-direction: column;
    row-gap: 5vh;
  }

  .contact ul {
    row-gap: 3vh;
  }

  .contact li {
    display: flex;
    column-gap: 3vh;
    align-items: flex-end;
  }

  /* ^: STARTS WITH
  $: ENDS WITH
  *: CONTAINS */

  .contact [class*="fa-"] {
    color: var(--mainColor);
    font-size: 18px;
  }

  .contact ul aside {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
  }

  .contact a {
    color: dimgray;
  }

  .contact > article {
    align-items: center;
    row-gap: 3vh;
    text-align: center;
  }

  .contact p {
    color: darkgray;
  }

  form {
    width: 96%;
    align-items: center;
    row-gap: 4vh;
  }

  form > aside {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3vh;
  }

  input {
    width: 96%;
    padding: 4px;
    border: none;
    border-bottom: 2px solid black;
  }

  textarea {
    padding: 4px;
    resize: none;
    height: 10vh;
    width: 96%;
    border: none;
    border-bottom: 2px solid black;
  }

  [type="submit"] {
    background-color: var(--mainColor);
    width: 55%;
    color: whitesmoke;
    border: none;
    padding: 2vh;
    font-weight: 500;
    border-radius: 25px;
  
  }

  /* FOOTER */
  footer {
    background-color: black;
    padding: 3%;
    row-gap: 2vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
  }

  footer > p {
    font-size: smaller;
  }

  footer > ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    column-gap: 4vh;
  }

  footer a {
    color: whitesmoke;
  }
}

/* TABLET */
@media (min-width: 600px) {

  /* ABOUT */
  .about {
    row-gap: 5vh;
  }

  .about h2 {
    font-weight: 400;
    font-size: 26px;
  }

  .about > article > p {
    width: 60%;
  }

  .about h6 {
    width: 20%;
  }

  .about figure {
    flex-direction: row-reverse;
    column-gap: 2vh;
  }

  .about a:hover {
    background-color: gray;
    color: orange;
  }

  .about h3 {
    font-weight: 500;
    font-size: 27px;
  }

  .about figcaption {
    width: 70%;
  }

  .about img {
    height: 18vh;
    width: 35vh;
  }

  /* SERVICES */
  .services {
    row-gap: 5vh;
  }

  .services h2 {
    font-weight: 500;
    font-size: 26px;
  }

  .services p {
    width: 60%;
  }

  .services h6 {
    width: 20%;
  }

  .services > section {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    column-gap: 2vh;
  }

  .services aside {
    padding: 0;
    width: 40%;
    height: 22vh;
    justify-content: center;
  }

  /* GALLERY */
  .gallery > section{
    flex-direction: row;
  }

  .gallery img {
    width: 34vh;
    height: 20vh;
  }

  /* TESTIMONIALS */
  .testimonials > article {
    padding-top: 15%;
    padding-bottom: 15%;
  }

  /* CONTACT */
  .contact > section {
    flex-direction: row;
    column-gap: 2vh;
  }

  .contact h2 {
    font-weight: 500;
  }

  form textarea {
    width: 85%;
    height: 7vh;
  }

  form input {
    width: 85%;
  }

  form > aside {
    width: 86%;
  }

  form > aside > input {
    width: 100%;
  }

  .contact li a:hover {
    color: var(--mainColor);
    text-decoration: underline;
  }

  [type="submit"] {
    width: 37%;
    padding: 1vh;
  }

  [type="submit"]:hover {
    background-color: white;
    color: var(--mainColor);
  }
  
  /* FOOTER */
  footer {
    padding: 2%;
  }
}
